

.logo-container {
    margin: 0 25px;
    width: 325px;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    img {
        width: 75px;
        height: 75px;
    }

    h2 {
        color: transparent;
        font-size: 35px;
        font-weight: bold;

        background-image: url("./src/assets/background-puzzleshome-logo.png");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        background-position-y: center;
    }
}
