@use '../utilities/variables' as v;

#puzzle-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#puzzle-selector {
    border-top: 15px double v.$fourth-background-color;
}
