@use '../utilities/variables' as v;

.timer-container {
    width: 200px;
    height: 60px;
    margin: 0 25px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px v.$second-background-color;

    background: radial-gradient(circle, v.$second-background-color 0%, v.$first-background-color 93%);

    span {
        color: transparent;
        font-size: 30px;
        font-weight: bold;
        margin: 0 2.5px;
    
        background-image: url("./src/assets/background-puzzleshome-logo.png");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        background-position-y: center;
    }
}