@use "../../utilities/variables" as V;
@use "../../utilities/mixins" as M;

#error-page {
    @include M.flex-settings(column, center, nowrap);

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    img {
        margin: 150px 0 0 0;
        width: 200px;
        height: 200px;
    }

    button {
        width: 175px;
        height: 35px;
        font-weight: bold;
        font-size: 15px;
        margin: 25px;
        border: none;
        border-radius: 10px;
        background: V.$first-color;
        color: V.$fourth-color;
    
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px 2px V.$second-color;
            background: V.$fourth-color;
            color: V.$first-color;
        }
    }
}