@use '../../../../utilities/variables' as V;
@use '../../../../utilities/mixins' as M;

.success-message {
    @include M.flex-settings(column, space-evenly);

    position: absolute;

    width: 350px;
    height: 550px;
    padding: 20px;
    text-align: center;

    border: none;
    border-radius: 5px;

    background-color: V.$fourth-background-color;
    color: #414141;

    h4 {
        font-size: 25px;
    }

    img {
        width: 200px;
        height: 275px;
    
        cursor: default;
    }
    
    .separator {
        width: 40%;
        height: 1px;
        background: V.$first-background-color;
    }

    #success-time {
        font-size: 20px;
    }

    button {
        font-size: 20px;
        font-weight: bold;

        width: 200px;
        height: 50px;
    
        border: none;
        border-radius: 10px;
    
        background: V.$first-background-color;
        color: V.$fourth-background-color;
    
        cursor: pointer;

        &:hover {
            background: #303030de;
            color: #b4b1a6;
        }
    }
}