@use '../../../../utilities/variables' as V;
@use '../../../../utilities/mixins' as M;

#puzzleTable {
    @include M.flex-settings(row, space-evenly);

    margin: 0 auto;
    // width: 450px;
    width: 550px;
    height: 650px;
    background: radial-gradient(circle, V.$second-background-color 0%, V.$first-background-color 93%);
    box-shadow: 0 0 10px 2px V.$second-background-color;
    border-radius: 15px;

    article {
        width: 400px;
        height: 600px;
        background: V.$third-background-color;
        box-shadow: 0 0 10px 2px V.$third-background-color;

        display: grid;
        grid-template-columns: repeat(4,100px);
        grid-template-rows: repeat(6,100px);

        img {
            width: 100px;
            height: 100px;
            padding: 1px;
            cursor: pointer;
        }
    }
}