$first-color: #303030a2;
$second-color: #6b6b6bad;
$third-color: #917c6eb6;
$fourth-color: #b4b1a6e3;

$body-bg-color: #3e4346;

$puzzle-home-primary: #ebb958;
$puzzle-home-second: #704a7d;
$puzzle-home-third: #76af9c;