//Home
@use './components/Header';
@use './components/SelectPuzzle';
@use './components/Puzzle';

//Puzzle-Levels
//Navbar
@use './components/Logo';
@use './components/Timer';
@use './components/BackButton';

//PuzzleTable
@use './components/PuzzleTable';



@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    background-image: url("./src/assets/background-puzzleshome.png");
    background-position: center;
    background-color: #3e4346;
}