@use './utilities/variables' as V;

// LoadingSpinner
@use './components/LoadingSpinner.scss';

// Error Component
@use './layouts/Error.scss';

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    text-decoration: none;
}

body {
    background: {
        image: url("./src/assets/background-puzzleshome.png");
        position: center;
        color: V.$body-bg-color;
    };
}