@use '../../../utilities/variables' as V;
@use '../../../utilities/mixins' as M;

#navbar {
    @include M.flex-settings(row, space-evenly, wrap);

    width: 50%;
    margin: 7.5px auto;

    //Logo
    .logo-container {
        @include M.flex-settings(row, center);
    
        width: 325px;
        height: auto;
    
        img {
            width: 75px;
            height: 75px;
        }
    
        h2 {
            @include M.text-decoration(35px);
        }
    }

    //Timer
    .timer-container {
        @include M.flex-settings(row, center);
    
        min-width: 200px;
        height: 60px;
        
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 2px V.$second-color;
    
        background: radial-gradient(circle, V.$second-color 0%, V.$first-color 93%);
    
        span {
            margin: 0 2.5px;
            @include M.text-decoration(30px);
        }
    }

    //Back-btn
    .back-btn {
        width: 35px;
        font-size: 35px;
        cursor: pointer;

        i {
            color: V.$first-color;

            &:hover {
                color: V.$fourth-color;
            }
        }
    }
}